$ms_2: #2DB634;
$ms_3: #375CA2;
$ms_4: #87C6D3;
$ms_5: #A08487;
$ms_secondary: #F0F4FA;
$ms_subtitle: #ABADB2;
$ms_src_bg: #F0F2F5;
$ms_txt_header: #AAAAAA;
$ms_primary: #FF4550;
$ms_light: #FFFFFF;
$ms_nav: #273044;
$ms_magnifier: #457992;
